@using System.Reflection

@{
    @model MovieRental.ViewModels.RandomMovieViewModel
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@foreach (var customer in Model.Customers)
{
    <h3>@customer.Name</h3>
}

